<div class="header">

<h1 class="heading">


    <span class="firstA">
    A
    </span>

    <span class="N">
    N
    </span>

    <span class="G">
        G
    </span>

    <span class="U">
        U
    </span>

    <span class="L">
        L
    </span>

    <span class="secondA">
        A
    </span>

    <span class="R">
        R
    </span>
    </h1>


<div class="buttons">
<span class="home">
    <a [routerLink]="['/']" routerLinkActive="router-link-active">home</a> 
</span>

<span class="info">

<a [routerLink]="['/info']" routerLinkActive="router-link-active">Info</a> 

</span>

<span class="contact">
    <a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>
</span>
</div>

</div>