<div class="links">
    <a rel="noopener noreferrer" target="_blank" href="https://www.t.me/@JuniorWebDev_Projects"><img id="tglogo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/1200px-Telegram_logo.svg.png" alt="telegram"></a>
    <a rel="noopener noreferrer" target="_blank" href="https://github.com/ievanpolkka"><img id="githublogo" src="https://lthub.ubc.ca/files/2021/06/GitHub-Logo.png" alt="GitHub"></a>
    <a rel="noopener noreferrer" target="_blank" href="https://www.sololearn.com/en/profile/26422020"><img id="sololearnlogo" src="https://blob.sololearn.com/avatars/sololearn.png" alt="YouTube"></a>
</div>